/*-------------------------
single-list-post
--------------------------*/
.single-list-post {
     display: flex;
     height: 169px;
     align-items: center;
     position: relative;
     margin-bottom: 30px;
     padding: 5px;
     background: #FFFFFF;
     box-shadow: 0px 12px 40px rgba(168, 168, 168, 0.25);
     border-radius: 10px;
     padding-left: 200px;
     .post-thumbnail {
          border-radius: 10px;
          position: absolute;
          height: 100%;
          top: 5px;
          left: 5px;
          img {
               width: 100%;
               height: auto;
          }
     }
     .post-info {
          padding: 5px 10px;
          .catagory {
               display: block;
               margin-bottom: 5px;
               font-size: 12px;
               font-weight: 500;
               text-transform: capitalize;
               color: #3943B7;
               transition: $transition;
               &:hover {
                    color: var(--hover-color);
               }
          }
          .post-title {
               margin-bottom: 10px;
               font-size: 16px;
               font-weight: 500;
               line-height: 28px;
               color: #424242;
               a {
                    color: #424242;
                    transition: $transition;
                    &:hover {
                         color: var(--primary-color);
                    }
               }
          }
          .post-meta {
               margin: 0;
               padding: 0;
               li {
                    display: inline-block;
                    list-style: none;
                    margin-right: 5px;
                    &:last-child {
                         margin-right: 0;
                    }
                    a {
                         font-size: 12px;
                         font-weight: 400;
                         text-transform: capitalize;
                         color: #B5B5B5;
                         transition: $transition;
                         i {
                              margin-right: 0;
                         }
                         &:hover {
                              color: var(--primary-color);
                         }
                    }
               }
          }
     }
}

@media (max-width: 480px) {
     .single-list-post .post-info {
          padding: 0;
     }
     .single-list-post .post-thumbnail {
          width: 112px;
     }
     .single-list-post {
          height: 104px;
          padding-left: 125px;
     }
     .single-list-post .post-info .catagory {
          margin-bottom: 5px;
          line-height: 1;
     }
     .single-list-post .post-info .post-title {
          font-size: 14px;
          line-height: 18px;
          margin-bottom: 3px;
     }
     .single-list-post .post-info .post-meta {
          line-height: 1;
     }
     .single-list-post .post-info .post-meta li a {
          font-size: 11px;
     }
     .single-list-post .post-info .post-meta li {
          margin-right: 3px;
     }
}
@media (max-width: 320px) {
     .single-list-post .post-info .post-meta li a {
          font-size: 10px;
     }
     .single-list-post .post-info .post-title {
          font-size: 12px;
          line-height: 16px;
          margin-bottom: 0;
     }
     .single-list-post {
          padding-left: 110px;
          height: 93px;
     }
     .single-list-post .post-thumbnail {
          width: 100px;
     }
     .single-list-post .post-info .catagory {
          font-size: 10px;
     }
}